
.AppStyle {
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 32px 16px;
    gap: 26px;
}

.pesquisa {
    display: flex;    
    height: 70px;
    width: 100%;
    padding-left: 1%;
    border: 1px solid #27355d;
    background-color: #eceaea;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .pesquisa label {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;     
    align-self: center;
    background-color: #eceaea;
    color: black;
  }

  .textBox {
    width: 820px;    
    height: 31px;;
    border: 1px solid #ccc;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;       
    align-self: center;
  }

